:root {
  --main-bg-color: brown;
}

#root{ 
  background: url(https://imgur.com/Smj4nT6.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#root{
  background-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}


.grid-container {
  padding: 12px;
  display: grid;
  grid-template-columns: 1.1fr 0.6fr 1.2fr 0.6fr 1.1fr;
  grid-template-rows: 0.3fr 1.2fr 1.3fr 1.8fr 0.4fr 0.3fr;
  width: 100vw;
  height: 100vh;
  gap: 10px 20px;
  grid-template-areas:
    "box-left team-left score team-right box-right"
    "box-left . . . box-right"
    ". . crosshair . ."
    "team-box-left . . . team-box-right"
    "team-box-left player-info player-info player-info team-box-right"
    "team-box-left . . . team-box-right";
}






/*
  CROSSHAIR AREA START
*/

.crosshair{
  grid-area: crosshair;
  margin: auto;
  font-size: 70px;
  color: blue;
  font-weight: 300;
  opacity: 0.2;
  z-index: 9;
  align-items: center;
  justify-self: center
}

/*
  CROSSHAIR AREA END
*/




/*
  SCORE AREA START
*/

.score { 
  display: grid;
  grid-area: score;
  grid-template-areas:
  "logo-left-area streak-left middle streak-right logo-right-area"
  "logo-left-area left-score middle right-score logo-right-area"
  "info-area info-area info-area info-area info-area"
  ;
  grid-template-columns: 1fr 0.8fr 1.4fr 0.8fr 1fr;
  grid-template-rows: 0.3fr 0.4fr 0.2fr;
  font-weight: 800;
  height: 100%;
  opacity: .90;
  background-color: #303661;
  color: white;
  align-items: center;
  justify-items: center;
}

.score .left-score{
  grid-area: left-score;
}

.score .left-score p{
  font-size: 30px;
}

.score .right-score{
  grid-area: right-score;
  text-align: right;
}

.score .right-score p{
  font-size: 30px;
}

.score .middle{
  grid-area: middle;
  text-align: center;
}

.score .time p{
  font-size: 30px;
}

.score .info{
  grid-area: info-area;
}

.score .streak-left{
  grid-area: streak-left;
}

.score .streak-right{
  grid-area: streak-right;
}

.score .logo-left-area{
  grid-area: logo-left-area;
}

.score .logo-left-area img{
  opacity: 1;
  width: 45px;
  height: 45px;
}

.score .logo-right-area{
  grid-area: logo-right-area;
}

.score .logo-right-area img{
  opacity: 1;
  width: 45px;
  height: 45px;
}

/*
  SCORE AREA END
*/


/*
  TEAM NAME AREA START
*/

.team-left { 
  grid-area: team-left; 
}

.team-left p {
  color: white;
  font-weight: 800;
  font-size: 30px;
  padding-top: 10%;
  text-align: right;
  width: 100%;
  height: 100%;
}

.team-right { 
  grid-area: team-right; 
}

.team-right p {
  color: white;
  font-weight: 800;
  font-size: 30px;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  text-align: left;
}


/*
  TEAM NAME AREA STOP
*/

.box-left {
  display: grid;
  grid-area: box-left;
  grid-template-rows: 10% 90%;
  row-gap: 10px;
  grid-template-areas:
    "mode-and-maps"
    "radar";

}

.box-left .mode-and-maps{
  
  grid-area: mode-and-maps;
  opacity: .90;
  background-color: #303661;
  font-weight: 600;
  color: white;
  padding-left: 5px;
}

.box-left .mode-and-maps .maps-playing{
  display: inline-block;
  padding-left: 15px;
  color: #777;
  font-weight: 700;
}

.box-left .mode-and-maps .active{
  color: white;
}

.box-left .radar{
  grid-area: radar;
  border: 1px solid blue;
}


.box-right {
    grid-area: box-right;
}

.box-right .wrapper{
  display: block;
  margin-top: 40px;
}


.box-right .kill{
  display: inline;
  background-color: #303661;
  float: right;
  opacity: 0.9;
  margin-top: 5px;
}

.box-right span{
  padding: 10px;
}

.box-right .tt-style{
  color: hsl(0, 82%, 57%);
  font-weight: 800;
  font-size: 16px;
  opacity: 1;
}

.box-right .ct-style{
  color: rgb(68, 71, 253);
  font-weight: 800;
  font-size: 16px;
  opacity: 1;
}

.box-right img{
  height: 16px;
}



/*
  TEAM PLAYERS AREA START
*/

.team-box-left {
  grid-area: team-box-left;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "left-player-1"
  "left-player-2"
  "left-player-3"
  "left-player-4"
  "left-player-5";
  border-radius: 5px;
  perspective: 1px;
  overflow: hidden;
}



/*
  PLAYER LEFT 1 START
*/

.left-player-1{
  grid-area: left-player-1;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-left-1"
  "player-info-left-1";
}

.health-player-left-1{
  grid-area: health-player-left-1;
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  grid-template-areas:
  ". nick-left-1 armor-left-1 health-number-left-1";
}

.armor-left-1{
  grid-area:armor-left-1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-left-1 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-left-1{
  grid-area: health-number-left-1;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.player-info-left-1{
  grid-area: player-info-left-1;
  display: grid;

}

.nick-left-1{
  grid-area: nick-left-1;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
}


.player-info-left-1{
  grid-area: player-info-left-1;
  display: grid;
  opacity: .90;
  background-color: #303661;
  grid-template-columns: 20% 15% 40% 25%;
  grid-template-areas:
  "avatar-left-1 equipment-left-1 utility-left-1 weapon-left-1";
}


.avatar-left-1{
  grid-area: avatar-left-1;
  display: grid;
  height: 100%;
}

.avatar-left-1 img{
  width: 32px;
  margin: auto;
}

.equipment-left-1{
  grid-area: equipment-left-1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-left-1 img {
  height: 16px;
}

.utility-left-1{
  grid-area: utility-left-1;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-left-1 img {
  height: 16px;
  margin-right: 3px
}

.weapon-left-1{
  grid-area: weapon-left-1;
  display: grid;
}

.weapon-left-1 img{
  height: 16px;
  margin: auto;
}


/*
  PLAYER LEFT 1 END
*/




/*
  PLAYER LEFT 2 START
*/

.left-player-2{
  grid-area: left-player-2;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-left-2"
  "player-info-left-2";
}


.armor-left-2{
  grid-area:armor-left-2;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-left-2 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-left-2{
  grid-area: health-number-left-2;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.nick-left-2{
  grid-area: nick-left-2;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
}


.health-player-left-2{
  grid-area: health-player-left-2;
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  grid-template-areas:
  ". nick-left-2 armor-left-2 health-number-left-2";
}


.player-info-left-2{
  grid-area: player-info-left-2;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 20% 15% 40% 25%;
  grid-template-areas:
  "avatar-left-2 equipment-left-2 utility-left-2 weapon-left-2";
}

.avatar-left-2{
  grid-area: avatar-left-2;
  display: grid;
  height: 100%;
}

.avatar-left-2 img{
  width: 32px;
  margin: auto;
}


.equipment-left-2{
  grid-area: equipment-left-2;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-left-2 img {
  height: 16px;
}

.utility-left-2{
  grid-area: utility-left-2;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-left-2 img {
  height: 16px;
  margin-right: 3px
}

.weapon-left-2{
  grid-area: weapon-left-2;
  display: grid;
}

.weapon-left-2 img{
  height: 16px;
  margin: auto;
}


/*
  PLAYER LEFT 2 END
*/



/*
  PLAYER LEFT 3 START
*/

.left-player-3{
  grid-area: left-player-3;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-left-3"
  "player-info-left-3";
}


.armor-left-3{
  grid-area:armor-left-3;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-left-3 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-left-3{
  grid-area: health-number-left-3;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.nick-left-3{
  grid-area: nick-left-3;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
}


.health-player-left-3{
  grid-area: health-player-left-3;
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  grid-template-areas:
  ". nick-left-3 armor-left-3 health-number-left-3";
}

.player-info-left-3{
  grid-area: player-info-left-3;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 20% 15% 40% 25%;
  grid-template-areas:
  "avatar-left-3 equipment-left-3 utility-left-3 weapon-left-3";
}


.avatar-left-3{
  grid-area: avatar-left-3;
  display: grid;
  height: 100%;
}

.avatar-left-3 img{
  width: 32px;
  margin: auto;
}

.equipment-left-3{
  grid-area: equipment-left-3;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-left-3 img {
  height: 16px;
}

.utility-left-3{
  grid-area: utility-left-3;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-left-3 img {
  height: 16px;
  margin-right: 3px
}

.weapon-left-3{
  grid-area: weapon-left-3;
  display: grid;
}

.weapon-left-3 img{
  height: 16px;
  margin: auto;
}


/*
  PLAYER LEFT 3 END
*/


/*
  PLAYER LEFT 4 START
*/

.left-player-4{
  grid-area: left-player-4;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-left-4"
  "player-info-left-4";
}

.health-player-left-4{
  grid-area: health-player-left-4;
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  grid-template-areas:
  ". nick-left-4 armor-left-4 health-number-left-4";
}

.armor-left-4{
  grid-area:armor-left-4;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-left-4 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-left-4{
  grid-area: health-number-left-4;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.nick-left-4{
  grid-area: nick-left-4;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
}



.player-info-left-4{
  grid-area: player-info-left-4;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 20% 15% 40% 25%;
  grid-template-areas:
  "avatar-left-4 equipment-left-4 utility-left-4 weapon-left-4";
}


.avatar-left-4{
  grid-area: avatar-left-4;
  display: grid;
  height: 100%;
}

.avatar-left-4 img{
  width: 32px;
  margin: auto;
}

.equipment-left-4{
  grid-area: equipment-left-4;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-left-4 img {
  height: 16px;
}

.utility-left-4{
  grid-area: utility-left-4;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-left-4 img {
  height: 16px;
  margin-right: 3px
}

.weapon-left-4{
  grid-area: weapon-left-4;
  display: grid;
}

.weapon-left-4 img{
  height: 16px;
  margin: auto;
}



/*
  PLAYER LEFT 4 END
*/

/*
  PLAYER LEFT 5 START
*/

.left-player-5{
  grid-area: left-player-5;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-left-5"
  "player-info-left-5";
}


.health-player-left-5{
  grid-area: health-player-left-5;
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  grid-template-areas:
  ". nick-left-5 armor-left-5 health-number-left-5";
}

.armor-left-5{
  grid-area:armor-left-5;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-left-5 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-left-5{
  grid-area: health-number-left-5;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.nick-left-5{
  grid-area: nick-left-5;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
}

.player-info-left-5{
  grid-area: player-info-left-5;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 20% 15% 40% 25%;
  grid-template-areas:
  "avatar-left-5 equipment-left-5 utility-left-5 weapon-left-5";
}


.avatar-left-5{
  grid-area: avatar-left-5;
  display: grid;
  height: 100%;
}

.avatar-left-5 img{
  width: 32px;
  margin: auto;
}

.equipment-left-5{
  grid-area: equipment-left-5;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-left-5 img {
  height: 16px;
}

.utility-left-5{
  grid-area: utility-left-5;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-left-5 img {
  height: 16px;
  margin-right: 3px
}

.weapon-left-5 {
  grid-area: weapon-left-5;
  display: grid;
}

.weapon-left-5 img{
  height: 16px;
  margin: auto;
}



/*
  PLAYER LEFT 5 END
*/



.team-box-right { 
  grid-area: team-box-right;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "right-player-1"
  "right-player-2"
  "right-player-3"
  "right-player-4"
  "right-player-5";
  border-radius: 5px;
  perspective: 1px;
  overflow: hidden;
}



/*
  PLAYER LEFT 1 START
*/

.right-player-1{
  grid-area: right-player-1;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-right-1"
  "player-info-right-1";
}

.health-player-right-1{
  grid-area: health-player-right-1;
  display: grid;
  grid-template-columns: 15% 15% 50% 20%;
  grid-template-areas:
  "health-number-right-1 armor-right-1 nick-right-1 .";
  background-color: hsl(239, 98%, 63%);
}

.armor-right-1{
  grid-area:armor-right-1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-right-1 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-right-1{
  grid-area: health-number-right-1;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.player-info-right-1{
  grid-area: player-info-right-1;
  display: grid;

}

.nick-right-1{
  grid-area: nick-right-1;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
  text-align: right;
}


.player-info-right-1{
  grid-area: player-info-right-1;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 25% 40% 15% 20%;
  grid-template-areas:
  "weapon-right-1 utility-right-1 equipment-right-1 avatar-right-1";
}


.avatar-right-1{
  grid-area: avatar-right-1;
  display: grid;
  height: 100%;
}

.avatar-right-1 img{
  width: 32px;
  margin: auto;
}

.equipment-right-1{
  grid-area: equipment-right-1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-right-1 img {
  height: 16px;
}

.utility-right-1{
  grid-area: utility-right-1;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-right-1 img {
  height: 16px;
  margin-right: 3px
}

.weapon-right-1{
  grid-area: weapon-right-1;
  display: grid;
}

.weapon-right-1 img{
  height: 16px;
  margin: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


/*
  PLAYER right 1 END
*/




/*
  PLAYER right 2 START
*/

.right-player-2{
  grid-area: right-player-2;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-right-2"
  "player-info-right-2";
}


.armor-right-2{
  grid-area:armor-right-2;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-right-2 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-right-2{
  grid-area: health-number-right-2;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.nick-right-2{
  grid-area: nick-right-2;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
  text-align: right;
}


.health-player-right-2{
  grid-area: health-player-right-2;
  display: grid;
  grid-template-columns: 15% 15% 50% 20%;
  grid-template-areas:
  "health-number-right-2 armor-right-2 nick-right-2 .";
}


.player-info-right-2{
  grid-area: player-info-right-2;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 25% 40% 15% 20%;
  grid-template-areas:
  "weapon-right-2 utility-right-2 equipment-right-2 avatar-right-2";
}



.avatar-right-2{
  grid-area: avatar-right-2;
  display: grid;
  height: 100%;
}

.avatar-right-2 img{
  width: 32px;
  margin: auto;
}


.equipment-right-2{
  grid-area: equipment-right-2;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-right-2 img {
  height: 16px;
}

.utility-right-2{
  grid-area: utility-right-2;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-right-2 img {
  height: 16px;
  margin-right: 3px
}

.weapon-right-2{
  grid-area: weapon-right-2;
  display: grid;
}

.weapon-right-2 img{
  height: 16px;
  margin: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


/*
  PLAYER right 2 END
*/



/*
  PLAYER right 3 START
*/

.right-player-3{
  grid-area: right-player-3;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-right-3"
  "player-info-right-3";
}


.armor-right-3{
  grid-area:armor-right-3;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-right-3 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-right-3{
  grid-area: health-number-right-3;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.nick-right-3{
  grid-area: nick-right-3;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
  text-align: right;
}


.health-player-right-3{
  grid-area: health-player-right-3;
  display: grid;
  grid-template-columns: 15% 15% 50% 20%;
  grid-template-areas:
  "health-number-right-3 armor-right-3 nick-right-3 .";
}

.player-info-right-3{
  grid-area: player-info-right-3;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 25% 40% 15% 20%;
  grid-template-areas:
  "weapon-right-3 utility-right-3 equipment-right-3 avatar-right-3";
}



.avatar-right-3{
  grid-area: avatar-right-3;
  display: grid;
  height: 100%;
}

.avatar-right-3 img{
  width: 32px;
  margin: auto;
}


.equipment-right-3{
  grid-area: equipment-right-3;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-right-3 img {
  height: 16px;
}

.utility-right-3{
  grid-area: utility-right-3;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-right-3 img {
  height: 16px;
  margin-right: 3px
}

.weapon-right-3{
  grid-area: weapon-right-3;
  display: grid;
}

.weapon-right-3 img{
  height: 16px;
  margin: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


/*
  PLAYER right 3 END
*/


/*
  PLAYER right 4 START
*/

.right-player-4{
  grid-area: right-player-4;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-right-4"
  "player-info-right-4";
}

.health-player-right-4{
  grid-area: health-player-right-4;
  display: grid;
  grid-template-columns: 15% 15% 50% 20%;
  grid-template-areas:
  "health-number-right-4 armor-right-4 nick-right-4 .";
}

.armor-right-4{
  grid-area:armor-right-4;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-right-4 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-right-4{
  grid-area: health-number-right-4;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.nick-right-4{
  grid-area: nick-right-4;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
  text-align: right;
}



.player-info-right-4{
  grid-area: player-info-right-4;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 25% 40% 15% 20%;
  grid-template-areas:
  "weapon-right-4 utility-right-4 equipment-right-4 avatar-right-4";
}



.avatar-right-4{
  grid-area: avatar-right-4;
  display: grid;
  height: 100%;
}

.avatar-right-4 img{
  width: 32px;
  margin: auto;
}

.equipment-right-4{
  grid-area: equipment-right-4;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-right-4 img {
  height: 16px;
}

.utility-right-4{
  grid-area: utility-right-4;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-right-4 img {
  height: 16px;
  margin-right: 3px
}

.weapon-right-4{
  grid-area: weapon-right-4;
  display: grid;
}

.weapon-right-4 img{
  height: 16px;
  margin: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



/*
  PLAYER right 4 END
*/

/*
  PLAYER right 5 START
*/

.right-player-5{
  grid-area: right-player-5;
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
  "health-player-right-5"
  "player-info-right-5";
}


.health-player-right-5{
  grid-area: health-player-right-5;
  display: grid;
  grid-template-columns: 15% 15% 50% 20%;
  grid-template-areas:
  "health-number-right-5 armor-right-5 nick-right-5 .";
}

.armor-right-5{
  grid-area:armor-right-5;
  display: flex;
  align-items: center;
  justify-items: center;
}

.armor-right-5 img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.health-number-right-5{
  grid-area: health-number-right-5;
  display: grid;
  font-size: 15px;
  color: white;
  font-weight: 800;
  justify-items: center;
}


.nick-right-5{
  grid-area: nick-right-5;
  display: grid;
  font-size: 13px;
  color: white;
  font-weight: 800;
  align-items: center;
  text-align: right;
}

.player-info-right-5{
  grid-area: player-info-right-5;
  display: grid;
  background-color: #303661;
  opacity: .90;
  grid-template-columns: 25% 40% 15% 20%;
  grid-template-areas:
  "weapon-right-5 utility-right-5 equipment-right-5 avatar-right-5";
}



.avatar-right-5{
  grid-area: avatar-right-5;
  display: grid;
  height: 100%;
}

.avatar-right-5 img{
  width: 32px;
  margin: auto;
}

.equipment-right-5{
  grid-area: equipment-right-5;
  display: flex;
  align-items: center;
  justify-items: center;
}

.equipment-right-5 img {
  height: 16px;
}

.utility-right-5{
  grid-area: utility-right-5;
  display: flex;   
  align-items: center;
  justify-content: center;

}

.utility-right-5 img {
  height: 16px;
  margin-right: 3px
}

.weapon-right-5 {
  grid-area: weapon-right-5;
  display: grid;
}

.weapon-right-5 img{
  height: 16px;
  margin: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



/*
  PLAYER right 5 END
*/


/*
  TEAM PLAYERS AREA STOP
*/

.player-info {
  grid-area: player-info;
  display: grid;
  margin-left: 20%; 
  margin-right: 20%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "player-spectaded-upper-layer"
  "player-spectaded-down-layer";
}


.player-spectaded-upper-layer{
  grid-area: player-spectaded-upper-layer;
  background-color: #303661;
  opacity: 0.9;
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
  grid-template-areas:
  "player-spectaded-name player-spectaded-name . player-spectaded-health player-spectaded-gear"
}

.player-spectaded-down-layer{
  grid-area: player-spectaded-down-layer;
  display: grid;
  background-color: hsl(239, 98%, 63%);
  grid-template-columns: 15% 15% 40% 15% 15%;
  grid-template-areas: 
  ". player-spectaded-utility player-spectaded-avatar player-spectaded-amunition .";
}

.player-spectaded-name{
  grid-area: player-spectaded-name;
  font-size: 15px;
  font-weight: 800;
  color: white;
  text-align: right;
}

.player-spectaded-health{
  grid-area: player-spectaded-health;
  font-size: 15px;
  font-weight: 800;
  color: white;
  text-align: center;
}

.player-spectaded-gear{
  grid-area: player-spectaded-gear;
  display: flex;
  align-items: center;
  justify-items: center;
}

.player-spectaded-gear img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.player-spectaded-utility {
  grid-area: player-spectaded-utility;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
}

.player-spectaded-utility img{
  height: 16px;
  margin-right: 3px
}

.player-spectaded-avatar {
  grid-area: player-spectaded-avatar;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.player-spectaded-avatar img{
  height: 128px;
  position: absolute;
  z-index: 9;
}

