.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100%;
  width: 100%;
}

.App-logo-fast {
  animation: App-logo-spin infinite 2s linear;
  height: 100%;
  width: 100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-icon{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  line-height: inherit;
  white-space: nowrap;
}

.first{
 margin-left: 10px;
}

.navbar-brand{
  padding: 0 !important;
}

.push-top{
  margin-top: 40px;
}

.card {
  display:inline-block;
  margin-right: 10px;
  width: 100%;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.image-preview{
  height: 150px;
  width: 150px;
}